<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{category}} - {{blog.Title}}</title>
  <link rel="stylesheet" href="/static/css/global.css">
  <link rel="stylesheet" href="/static/css/blog.css">
  <link rel="stylesheet" href="/static/css/category.css">
  <link rel="stylesheet" href="/static/css/pagination.css">
</head>

<body>
  {% include "navigation" %}
  <div class="container">
    <div class="blog-list">
      <h2 class="category-title">Category: {{category}}</h2>
      {% for post in posts %}
      <div class="blog-item">
        <a href="/{{post.URL}}">
          <h3 class="blog-item-title">{{post.Title}}</h3>
          <h4 class="blog-item-datetime">{{post.Date | date: "%Y-%m-%d"}}</h4>
        </a>
        <hr>
        <p>{{post.Description}}</p>
      </div>
      {% endfor %}
    </div>

    <div class="blog-sidebar">
      {% include 'sidebar' %}
    </div>
  </div>
  <div class="footer">
    {% include "pagination" %}
  </div>
</body>

</html>