<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{post.Title}} | {{blog.Title}}</title>
  <link rel="stylesheet" href="/static/css/highlight-11.9.0.css" />
  <link rel="stylesheet" href="/static/css/global.css" />
  <link rel="stylesheet" href="/static/css/post.css" />
</head>

<body>
  {% include "navigation" %}
  <!-- 主体内容 -->
  <div class="container">
    <!-- 博客项 -->
    <div class="post">
      <h3 class="post-title">{{post.Title}}</h3>
      <h4 class="datetime">Published Date: {{post.Date}}</h4>
      <hr>
      <div class="post-content">
        {{post.ContentHTML}}
      </div>
      <div class="post-meta">
        <span>{{ post.Date | date: "%Y-%m-%d" }}</span>
        {% if post.Categories.size > 0 %}
            <span>Category: 
                {% for category in post.Categories %}
                    <a href="/categories/{{ category | replace: '/', '-' }}/index.html">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}
        {% if post.Tags.size > 0 %}
            <span>Tags: 
                {% for tag in post.Tags %}
                    <a href="/tag/{{ tag }}/index.html">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
                {% endfor %}
            </span>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="/static/js/highlightjs-11.9.0.min.js"></script>
    <script>hljs.highlightAll();</script>
 </body>

</html>